* {
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    background-color: whitesmoke;
    font-size: 1.5em;
    border-color: grey;
    padding: 10px 20px;
}

a:link {
    color: black;
}

div {
    margin: 20px auto;
    max-width: 400px;
    background-color: whitesmoke;
    border: 5px solid grey;
}

img {
    width: 350px;
    height: auto;
}

h1, h2, h3 {
    background-color: lightgreen;
    margin: 20px;
}

li {
    text-align: left;
    margin: 10px;
}

p, ol li {
    margin: 20px;
}